<main class="content">
  <section>
    <h2>Lições</h2>
    <div class="card-corpo" *ngFor="let aula of aulas">
      <div class="card-info">
      <p class="">
        Lição: {{aula.nome}}.
      </p>
      <p>Data: {{aula.dtAula | date:'dd/MM/yyyy'}}</p>
      <p>Professor:{{"nome do professor"}}</p>
      </div>
      <div>
        <a class="btn btn_secondary" [routerLink]="['/chamada', aula.id]">Realizar Chamada</a>
      </div>
    </div>
  </section>
  <button (click)="openModal()" class="btn, btn_secondary">Criar nova aula</button>

  <ng-template [ngIf]="openModalC">
    <div class="modal">
      <div class="modal-inputs">
        <p>Cadastrar nova Aula</p>

        <input type="text" [(ngModel)]="nomeAula" placeholder="Aula">
        <input type="text" placeholder="Professor">
      </div>
      <div class="modal-button">
        <button class="btn btn_primary" (click)="cadastrarAula()">Cadastrar Aula</button>
        <button class="btn btn_primary" (click)="fecharModal()">Cancelar</button>
      </div>

    </div>
  </ng-template>

</main>


