@use "src/config-css/variables";
@use "src/config-css/rem-calc";
main {
  section {
    border-radius: rem-calc.rem-calc(10);
    padding: rem-calc.rem-calc(15);
    background-color:  var(--branco);
    h2 {
      text-align: center;
    }

    .card-corpo{
      margin-bottom: rem-calc.rem-calc(10);
      border-bottom: 0.5px solid black;
      display: flex;
      justify-content: space-between;
      .card-info{
        display: flex;
        flex-direction: column;
      }
      a{
        background-color: var(--secondary-color);
        color: var(--branco);

        border-radius: rem-calc.rem-calc(0);
      }
    }

  }
  button{
    border-radius: rem-calc.rem-calc(10);
    border: none;
    padding: rem-calc.rem-calc(10);
    margin-top: rem-calc.rem-calc(10);
    width: 100%;
  }

  .modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50px;
    left: 640px;
    height: 250px;
    width: 300px;
    padding: rem-calc.rem-calc(25);
    background: rgba(0,0,0,0.5);
    margin: 0 auto;
    justify-content: space-around;

    .modal-inputs{

      gap: 10px;
      display: flex;
      flex-direction: column;
      input{
        border: none;
        padding: 5px;
        border-radius: 5px;
      }
    }

  }




}
